[
    {
        "name": "Verify AVL tree",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-avl-tree.c",
                   "src/avl-tree.c",
                   "src/compare-int.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    }
]







